/* button */
.btn {
    color: var(--main-text-color);
    background-color: var(--main-brand-color);
    text-decoration: none;
    padding: 0.7rem;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid var(--main-brand-color);

    &.secondary {
        background-color: transparent;
        border: 1px solid var(--main-text-color);
    }
}

@media screen and (hover: hover) {
    .btn {
        cursor: pointer;
    }
    .btn:hover {
        /* permite cambiar como se ve el boton cuando pasamos el cursor por encima */
        background-color: var(--main-brand-color-light);
        border: 1px solid var(--main-brand-color-light);
    }
    .btn.secondary:hover {
        background-color: transparent;
    }
}
/* hover indica que el cambio indicado se hara si la pantalla en la que estamos admite usar cursor. */

/* texts */
.heading-1 {
    font-size: 1.5rem;
    font-weight: 700;
}

.heading-2 {
    font-weight: 700;
}

/* forms */
.form-element {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    
    label {
        margin-bottom: 0.5rem;
    }

    input, textarea, select {
        border: none;
        padding: 1rem;
        border-radius: 5px;
        background-color: var(--input-bg-color);
        color: var(--main-text-color);
    }

    &.row {
        flex-direction: row;
        gap: 10px;

        label {
            margin: 0;
        }
    }
}

.file-element {
    margin-bottom: 1rem;

    label {
        display: block;
        background-color: var(--input-bg-color);
        color: var(--main-text-color);
        padding: 1rem;
        border-radius: 5px;
    }
    
    input[type="file"] {
        display: none;
    }
}

/* 
.form-element.row {
    flex-direction: row;
} == &.row de arriba
*/