.header {
    position: sticky;
    top: 0
    /* Con estas dos cosas, el header baja contigo cuando bajas en la pagina */;
    background-color: var(--bg-color);
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    img {
        width: 20%;
        max-width: 250px;
        min-width: 200px;
    }
}

.header .nav .list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
}

